body {
  background: gray;
  font-family: cursive;
}
.postcard {
  background: white;
  width: 600px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 17px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header .postcard-header h1 {
  font-family: cursive;
  font-size: xx-large;
}
.logo img {
  width: 60px;
}

.left-side {
  float: left;
  width: 50%;
}
.right-side {
  float: right;
  width: 50%;
}
.right-side input {
  font-family: cursive;
  border: none;
  margin: auto;
  width: 100%;
  height: 40px;
  font-size: large;
  border-bottom: 2px solid gray;
}

.button input {
  margin: auto;
  transform: translate(-50%, 200%);
  font-size: large;
  font-family: cursive;
  background-color: gray;
}
